%body
  .navbar.navbar-inverse.navbar-fixed-top
    .navbar-inner
      .container
        .brand open table finder
  .container
    = bootstrap_flash
    = form_for @check do |f|
      = f.label :name_of_restaurant
      = f.text_field :name
      = f.label :url
      = f.text_field :url
      = f.label :email
      = f.text_field :email
      = f.label :start_time
      = f.datetime_select :start_time, :ampm => true, :minute_step => 15
      = f.label :end_time
      = f.datetime_select :end_time, :ampm => true, :minute_step => 15
      = f.submit
    %small.muted
      = @resque_canary ? "Checks are currently running" : "Checks are down"
    - @checks.each do |check|
      %ul
        %li
          %strong= check.name
        %li= check.url
        %li= "#{check.email[0..5]}..."
        %li= check.start_time.in_time_zone("Pacific Time (US & Canada)")
        %li= check.end_time.in_time_zone("Pacific Time (US & Canada)")
        %li= link_to "Delete", check_path(check.id), method: :delete
