%h1 test
- @checks.each do |check|
  %ul
    %li
      %strong= check.name
    %li= check.url
    %li= check.email
    %li= check.start_time.in_time_zone("Pacific Time (US & Canada)")
    %li= check.end_time.in_time_zone("Pacific Time (US & Canada)")
